In [1]:
import pandas as pd

In [28]:
pd.options.display.max_rows = 10

In [30]:
unames = ['user_id','gender','age','occupation','zip']
users = pd.read_table('/Users/helena/Downloads/pydata-notebook-master/datasets/movielens/users.dat',sep='::',
                     header = None, names = unames, engine = 'python')

In [49]:
rnames = ['user_id','movie_id','rating','timestamp']
ratings = pd.read_table('/Users/helena/Downloads/pydata-notebook-master/datasets/movielens/ratings.dat',sep='::',
                       header = None, names = rnames, engine = 'python')
print(ratings[:5])

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [59]:
data = pd.concat([users,ratings],keys = ['user','ratings'],join='inner',axis = 1) # concat 完成拼接
print(data.head())

     user                              ratings
  user_id gender age occupation    zip user_id movie_id rating  timestamp
0       1      F   1         10  48067       1     1193      5  978300760
1       2      M  56         16  70072       1      661      3  978302109
2       3      M  25         15  55117       1      914      3  978301968
3       4      M  45          7  02460       1     3408      4  978300275
4       5      M  25         20  55455       1     2355      5  978824291

In [51]:
data = pd.concat([users,ratings],keys = ['user','ratings'],join='outer',axis = 1)
print(data.head())

     user                                ratings
  user_id gender   age occupation    zip user_id movie_id rating  timestamp
0     1.0      F   1.0       10.0  48067       1     1193      5  978300760
1     2.0      M  56.0       16.0  70072       1      661      3  978302109
2     3.0      M  25.0       15.0  55117       1      914      3  978301968
3     4.0      M  45.0        7.0  02460       1     3408      4  978300275
4     5.0      M  25.0       20.0  55455       1     2355      5  978824291

In [53]:
data = pd.merge(users,ratings,how='left',on=['user_id']) 
# left表示以df1为主，如果df2中出现了某个User_id在df1中没有出现，就抛弃这个样本
print(data.head())

   user_id gender  age  occupation    zip  movie_id  rating  timestamp
0        1      F    1          10  48067      1193       5  978300760
1        1      F    1          10  48067       661       3  978302109
2        1      F    1          10  48067       914       3  978301968
3        1      F    1          10  48067      3408       4  978300275
4        1      F    1          10  48067      2355       5  978824291

In [69]:
mnames = ['movie_id','title','genres']
movies = pd.read_table('/Users/helena/Downloads/pydata-notebook-master/datasets/movielens/movies.dat',sep='::',
                     header = None, names = mnames, engine = 'python')
data = pd.merge(pd.merge(ratings,users,how = 'left',on = ['user_id']),movies,on = ['movie_id'])
print(data.head())

   user_id  movie_id  rating  timestamp gender  age  occupation    zip  \
0        1      1193       5  978300760      F    1          10  48067
1        2      1193       5  978298413      M   56          16  70072
2       12      1193       4  978220179      M   25          12  32793
3       15      1193       4  978199279      M   25           7  22903
4       17      1193       5  978158471      M   50           1  95350

                                    title genres
0  One Flew Over the Cuckoo's Nest (1975)  Drama
1  One Flew Over the Cuckoo's Nest (1975)  Drama
2  One Flew Over the Cuckoo's Nest (1975)  Drama
3  One Flew Over the Cuckoo's Nest (1975)  Drama
4  One Flew Over the Cuckoo's Nest (1975)  Drama

In [71]:
print(data.iloc[0])

user_id                                            1
movie_id                                        1193
rating                                             5
timestamp                                  978300760
gender                                             F
age                                                1
occupation                                        10
zip                                            48067
title         One Flew Over the Cuckoo's Nest (1975)
genres                                         Drama
Name: 0, dtype: object

In [77]:
# 根据用户/电影属性对评分数据进行聚合操作
mean_ratings = data.pivot_table('rating',index='title',columns = 'gender',aggfunc = 'mean')
print(mean_ratings)

gender                                             F         M
title
$1,000,000 Duck (1971)                      3.375000  2.761905
'Night Mother (1986)                        3.388889  3.352941
'Til There Was You (1997)                   2.675676  2.733333
'burbs, The (1989)                          2.793478  2.962085
...And Justice for All (1979)               3.828571  3.689024
...                                              ...       ...
Zed & Two Noughts, A (1985)                 3.500000  3.380952
Zero Effect (1998)                          3.864407  3.723140
Zero Kelvin (Kj�rlighetens kj�tere) (1995)       NaN  3.500000
Zeus and Roxanne (1997)                     2.777778  2.357143
eXistenZ (1999)                             3.098592  3.289086

[3706 rows x 2 columns]

In [73]:
rating_by_title = data.groupby('title').size()
print(rating_by_title[:10])

title
$1,000,000 Duck (1971)                37
'Night Mother (1986)                  70
'Til There Was You (1997)             52
'burbs, The (1989)                   303
...And Justice for All (1979)        199
1-900 (1994)                           2
10 Things I Hate About You (1999)    700
101 Dalmatians (1961)                565
101 Dalmatians (1996)                364
12 Angry Men (1957)                  616
dtype: int64

In [74]:
active_titles = rating_by_title.index[rating_by_title >= 250]
print(active_titles)

Index([''burbs, The (1989)', '10 Things I Hate About You (1999)',
       '101 Dalmatians (1961)', '101 Dalmatians (1996)', '12 Angry Men (1957)',
       '13th Warrior, The (1999)', '2 Days in the Valley (1996)',
       '20,000 Leagues Under the Sea (1954)', '2001: A Space Odyssey (1968)',
       '2010 (1984)',
       ...
       'X-Men (2000)', 'Year of Living Dangerously (1982)',
       'Yellow Submarine (1968)', 'You've Got Mail (1998)',
       'Young Frankenstein (1974)', 'Young Guns (1988)',
       'Young Guns II (1990)', 'Young Sherlock Holmes (1985)',
       'Zero Effect (1998)', 'eXistenZ (1999)'],
      dtype='object', name='title', length=1216)

In [76]:
mean_ratings = mean_ratings.loc[active_titles]
print(mean_ratings)

gender                                    F         M
title
'burbs, The (1989)                 2.793478  2.962085
10 Things I Hate About You (1999)  3.646552  3.311966
101 Dalmatians (1961)              3.791444  3.500000
101 Dalmatians (1996)              3.240000  2.911215
12 Angry Men (1957)                4.184397  4.328421
...                                     ...       ...
Young Guns (1988)                  3.371795  3.425620
Young Guns II (1990)               2.934783  2.904025
Young Sherlock Holmes (1985)       3.514706  3.363344
Zero Effect (1998)                 3.864407  3.723140
eXistenZ (1999)                    3.098592  3.289086

[1216 rows x 2 columns]

In [78]:
# 女性观众喜欢的电影
top_female_ratings = mean_ratings.sort_values(by = 'F', ascending = False)
print(top_female_ratings[:10])

gender                                               F         M
title
Clean Slate (Coup de Torchon) (1981)               5.0  3.857143
Ballad of Narayama, The (Narayama Bushiko) (1958)  5.0  3.428571
Raw Deal (1948)                                    5.0  3.307692
Bittersweet Motel (2000)                           5.0       NaN
Skipped Parts (2000)                               5.0  4.000000
Lamerica (1994)                                    5.0  4.666667
Gambler, The (A J�t�kos) (1997)                    5.0  3.166667
Brother, Can You Spare a Dime? (1975)              5.0  3.642857
Ayn Rand: A Sense of Life (1997)                   5.0  4.000000
24 7: Twenty Four Seven (1997)                     5.0  3.750000

In [79]:
# measure the rating disagreement
mean_ratings['diff'] = mean_ratings['M'] - mean_ratings['F']
print(mean_ratings[:5])

gender                                F         M      diff
title
$1,000,000 Duck (1971)         3.375000  2.761905 -0.613095
'Night Mother (1986)           3.388889  3.352941 -0.035948
'Til There Was You (1997)      2.675676  2.733333  0.057658
'burbs, The (1989)             2.793478  2.962085  0.168607
...And Justice for All (1979)  3.828571  3.689024 -0.139547

In [81]:
sorted_by_diff = mean_ratings.sort_values(by='diff',ascending = False)
print(sorted_by_diff[:5])

gender                                        F         M      diff
title
Tigrero: A Film That Was Never Made (1994)  1.0  4.333333  3.333333
Neon Bible, The (1995)                      1.0  4.000000  3.000000
Enfer, L' (1994)                            1.0  3.750000  2.750000
Stalingrad (1993)                           1.0  3.593750  2.593750
Killer: A Journal of Murder (1995)          1.0  3.428571  2.428571

In [87]:
rating_std_by_title = data.groupby('title')['rating'].std()
print(rating_std_by_title)

title
$1,000,000 Duck (1971)                        1.092563
'Night Mother (1986)                          1.118636
'Til There Was You (1997)                     1.020159
'burbs, The (1989)                            1.107760
...And Justice for All (1979)                 0.878110
                                                ...
Zed & Two Noughts, A (1985)                   1.052794
Zero Effect (1998)                            1.042932
Zero Kelvin (Kj�rlighetens kj�tere) (1995)    0.707107
Zeus and Roxanne (1997)                       1.122884
eXistenZ (1999)                               1.178568
Name: rating, Length: 3706, dtype: float64